.product{
    width: 200px;
    height: 250px;
    border: 1px solid grey;
}
.product .img{
    width: 100%;
    height: 150px;
}
.product img{
    width: 100%;
    height: 100%;
}
.details{
    padding: 5px;
}
.details h3{
    font-size: 14px;
    margin: 5px;
}
.details p{
   margin: 5px;
}
.details button{
    margin: 5px;
    padding: 2px;
    border: none;
    outline: none;
    background-color: rgb(137, 137, 146);
    border-radius: 5px;
}